<div class="ui container segment raised">In this activity we measure and understand the impact of network communication
  on application performance. This activity consists of the two steps below.
</div>

<div class="ui top attached tabular menu">
  <a class="item active" data-tab="network_impact">Step #1: Impact of the network</a>
  <a class="item " data-tab="communication_share">Step #1: Communication overhead</a>
</div>


<div class="ui bottom attached tab segment active" data-tab="network_impact">

  {% include_relative network_impact.html %}

</div>


<div class="ui bottom attached tab segment " data-tab="communication_share">

  {% include_relative communication_share.html %}

</div>

