<div class="ui container segment raised">In this activity we modify our implementation to improve
  the load balancing, and re-run simulations to see the performance benefit.
</div>

<div class="ui top attached tabular menu">
  <a class="item active" data-tab="cyclic_distribution">Step #1: Cyclic distribution</a>
  <a class="item " data-tab="cyclic_runs">Step #2: Effect on Performance</a>
</div>


<div class="ui bottom attached tab segment active" data-tab="cyclic_distribution">

  {% include_relative cyclic_distribution.html %}

</div>


<div class="ui bottom attached tab segment " data-tab="cyclic_runs">

  {% include_relative cyclic_runs.html %}

</div>


