<div class="ui container segment raised">In this activity we enhance the ring-based pipelined broadcast 
  so that it uses <b>asynchronous communication</b>,
to use network links even better.
</div>

<div class="ui top attached tabular menu">
  <a class="item active" data-tab="asynchronous_broadcast">Step #1: Asynchronous Broadcast</a>
  <a class="item" data-tab="asynchronous_broadcast_evaluation">Step #2: Evaluation</a>
</div>


<div class="ui bottom attached tab segment active" data-tab="asynchronous_broadcast">

  {% include_relative asynchronous_broadcast.html %}

</div>


<div class="ui bottom attached tab segment" data-tab="asynchronous_broadcast_evaluation">

  {% include_relative asynchronous_broadcast_evaluation.html %}

</div>
