In this activity we enhance the ring-based broadcast so that it uses pipelining to better
utilize the network links.

<br>

<div class="ui top attached tabular menu">
  <a class="item active" data-tab="pipelined_broadcast">Step #1: Pipelined Broadcast</a>
  <a class="item" data-tab="pipelined_broadcast_evaluation">Step #2: Evaluation</a>
</div>


<div class="ui bottom attached tab segment active" data-tab="pipelined_broadcast">

  {% include_relative pipelined_broadcast.html %}

</div>


<div class="ui bottom attached tab segment" data-tab="pipelined_broadcast_evaluation">

  {% include_relative pipelined_broadcast_evaluation.html %}

</div>
