

<div class="ui vertical left fixed menu basic  ">
  <br>
  <a href="http://simgrid.org" target="_blank">
  <img width=99 src="{{site.baseurl}}public/simgrid_logo.jpg" style="margin-left:5px">
  </a>
  <br>
  <br>




  <a class="ui item {% if page.url ==  '/' %} active{% endif %}" href="{{site.baseurl}}">
    <h3 class="ui header">Home</h3>
  </a>


  {% assign pages_list = site.pages %}
  {% for node in pages_list %}
  {% if node.title != null %}
  {% if node.layout == "page" %}
  {% if node.top_level == true %}
  <a class="ui popable item fluid {% if page.topic == node.topic %} active{% endif %}" href="{{site.baseurl}}{{ node.url }}"
       data-content="{{node.description}}" data-variation="inverted">
      <h3 class="ui header fluid">{{node.title}}
      </h3>
  </a>
  {% endif %}
  {% endif %}
  {% endif %}
  {% endfor %}
  <div class="ui divider" style="margin-top:0em"></div>

</div>

