In this activity we develop a parallel implementation of the program using
a  "2-D data distribution". Just like for the previous activity,
we break it down into the three steps below:
<br>

<div class="ui top attached tabular menu">
  <a class="item active" data-tab="2D_data_distribution">Step #1: Data distribution</a>
  <a class="item" data-tab="2D_compute_julia">Step #2: Computing</a>
  <a class="item" data-tab="2D_save_to_file">Step #3: Saving to file</a>
</div>

<div class="ui bottom attached tab segment active" data-tab="2D_data_distribution">

  {% include_relative 2D_step1.html %}

</div>



<div class="ui bottom attached tab segment" data-tab="2D_compute_julia">

  {% include_relative 2D_step2.html %}


</div>



<div class="ui bottom attached tab segment" data-tab="2D_save_to_file">

  {% include_relative 2D_step3.html %}


</div>