In this activity we develop a simple sequential (i.e., non-parallel) program that computes a
Julia set and saves it to a bitmap file. We break it down into the two steps below:
<br>

<div class="ui top attached tabular menu">
  <a class="item active" data-tab="seq_compute_julia">Step #1: Computing the Julia set</a>
  <a class="item" data-tab="seq_save_to_file">Step #2: Saving to a file</a>
</div>

<div class="ui bottom attached tab segment active" data-tab="seq_compute_julia">

  {% include_relative sequential_step1.html %}

</div>



<div class="ui bottom attached tab segment" data-tab="seq_save_to_file">

  {% include_relative sequential_step2.html %}


</div>