


<div class="ui pointing secondary menu">
  <a class="item active" data-tab="first">Introduction</a>
  <a class="item " data-tab="second">Activity #1</a>
  <a class="item" data-tab="third">Activity #2</a>
  <a class="item" data-tab="fourth">Activity #3</a>
</div>

<div class="ui tab segment active" data-tab="first">
  {% include_relative topic_basics_of_distributed_memory_programming/introduction.html %}
</div>


<div class="ui tab segment " data-tab="second">
  {% include_relative topic_basics_of_distributed_memory_programming/sequential.html %}
</div>

<div class="ui tab segment" data-tab="third">
  {% include_relative topic_basics_of_distributed_memory_programming/1D.html %}
</div>

<div class="ui tab segment" data-tab="fourth">
  {% include_relative topic_basics_of_distributed_memory_programming/2D.html %}
</div>


